@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #000000;
}

/* Enable dark mode based on system preference */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
